{% extends "index.html.twig" %}

{% block body %}

<div class="container">
    {% if books is not empty %}
        {% for book in books %}
            <a href="/book/{{book.getId}}">
                <li>{{book.getTitle}}</li></a>
                {% if (patrons_by_book is defined) and (patrons_by_book is not empty) %}
                    <li>checked out to</li>
                        {% for patron in patrons_by_book %}

                            <li>{{patron.getName}}</li>
                            <form class="" action="/delete_patron/{{patron.getId}}" method="post">
                                <input name="_method" type="hidden" value="delete">
                                <button type="submit" name="button">Delete</button>
                            </form>
                        {% endfor %}
                    {% endif %}
        {% endfor %}
    {% endif %}

    <form  action="/book_list" method="post">
        <label for="title">Enter book name</label>
        <input type="text" name="title">
        <label for="due_date">Enter due date</label>
        <input type="date" name="due_date">
        <label for="checkout_date">Enter checkout date</label>
        <input type="date" name="checkout_date">
        <label for="author">Enter author name</label>
        <input type="text" name="author">
        <button type="submit">Submit</button>
    </form>
    <a href="/delete"><button>delete all</button></a>
    <a href="/"><button>home</button></a>
</div>
{% endblock %}
