<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
        <title>Students</title>
    </head>
    <body>
        <div class="container">
            <h1>Courses</h1>
            <a href="/">
                <button type="button" class="btn" name="button">
                    <span class="glyphicon glyphicon-home"></span>
                </button>
            </a>
            <form action="/add_class" method="post">
                <label for="new_class">Add a class</label><br>
                <label for="name">Name</label>
                <input type="text" name="name" required><br>
                <label for="course_number">Course Number</label>
                <input type="text" name="course_number" required><br>
                <button type="submit">Submit</button>
            </form>
            {% if courses is not empty %}
                <h2>classes:</h2>
                <ul>
                    {% for course in courses %}
                        <li>{{course.getName}}
                            <form action="/delete_course/{{course.getId}}" method="post">
                                <input name="_method" type="hidden" value="delete">
                                <button type="submit" class="btn btn-danger" name="button">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </form>
                            <a href="/update_course/{{course.getId}}">
                                <button type="button" name="button" class="btn btn-info">Edit
                                    {{course.getName}}
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        </div>
    </body>
</html>
