<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
        <title>University Registar</title>
    </head>
    <body>
        <div class="container">
            <a href="/students">View Students</a>
            <a href="/courses">View Courses</a>
        </div>
    </body>
</html>
