<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>library</title>
    </head>
    <body>
        {% block body%}
            <div class="container">
                <h1>Table of Contents</h1>
                <a href="/book_list">
                    <button>View all books</button>
                </a>
                <!-- <a href="/book_form"><button>Enter new books</button></a>
        <a href="/patron_list"><button>View all patrons</button></a>
        <a href="/patron_form"><button>Enter new patron</button></a> -->
            {% endblock %}
        </div>
    </body>
</html>
