<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>library</title>
    </head>
    <body>
        {% block body%}
            <div class="container">
                <h1>Table of Contents</h1>
                <a href="/book_list">
                    <button>View all books</button>
                </a>
                <a href="/patron_list"><button>View all patrons</button></a>

                <h2>search by author</h2>
                <form  action="/author_search" method="post">
                    <label for="author_name">Enter author name</label>
                    <input type="test" name="author_name">
                    <button type="submit">search</button>
                </form>
            {% endblock %}
        </div>
    </body>
</html>
